.place__title {
  max-width: 460px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 110%;
  }
}

@media screen and (min-width: 320px) and (max-width: 691px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 109%;
    align-self: start;
  }
}