.places {
  display: grid;
  grid-template-columns: 1fr;
  /*padding: 92px 148px 0;*/
  width: 984px;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    padding: 92px 48px 0;
    /*width: 928px;*/
  }
}

@media screen and (max-width: 768px) {
  .places {
    /*padding: 88px 24px 0;*/
    width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding: 0;
    width: 100%;
  }
}