.place__image {
  width: 460px;
  min-height: 460px;
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 440px;
    min-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 340px;
    min-height: 340px;
  }
}

@media screen and (min-width: 320px) and (max-width: 691px) {
  .place__image {
    width: 100%;
    object-fit: contain;
    padding-top: 32px;
  }
}