.cover__subtitle {
  max-width: 375px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 375px;
  }
}

@media screen and (min-width: 320px) and (max-width: 691px)  {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    max-width: 275px;
  }
}