.lead__image-container {
  width: 984px;
  min-height: 615px;
  justify-self: center;
  margin: 64px 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__image-container {
    width: 100%;
    min-height: 580px;
    margin: 56px 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__image-container {
    width: 100%;
    min-height: 480px;
    margin: 56px 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead__image-container {
    width: 100%;
    min-height: 200px;
    margin: 40px 0 0;
  }
}