.cover {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 92px;
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}

.cover:hover .cover__overlay{
  opacity: 0.8;
}