.cover__background {
  width: 1184px;
  height: fit-content;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    width: 100%;
  }
}