.place__website-container {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
}

@media screen and (min-width: 320px) and (max-width: 691px) {
  .place__website-container {
    align-self: start;
    padding-left: 16px;
    padding-top: 31px;
  }
}