.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 2%;
  row-gap: 48px;
  padding-top: 80px;
}


.place:first-of-type {
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 3.5%;
    row-gap: 48px
  }
}

@media screen and (max-width: 768px) {
  .place {
    row-gap: 63px;
    padding-top: 49px;
    column-gap: 2%;
  }
}

@media screen and (min-width: 320px) and (max-width: 691px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    
  }

  .place:first-of-type {
    margin-top: 64px;
  }
}