.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 3%;
  height: 660px;
  padding-top: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    height: 581px;
    padding-top: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1042px;
    margin-top: 50px;
  }
}

.place:first-of-type {
  padding: 0;
}

.place:last-of-type {
  height: 584px;
}