.footer__links-list-item {
  padding-right: 18px;
}

.footer__links-list-item:last-of-type {
  padding-right: 0;
}

@media screen and (min-width: 320px) and (max-width: 691px)  {
  .footer__links-list-item {
    padding-bottom: 32px;
  }
}