.cover__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 3;
  top: calc(50% - 128px);
}

@media screen and (min-width: 320px) and (max-width: 691px) {
  .cover__text-container {
    max-width: 288px;
    top: calc(50% - 66px);
  }
}